@import url(fonts.css); /*подключение файла со шрифтом*/


body {
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
}

.wrapper {
    position: relative;
    background-image: url("../img/background.png");
    background-repeat: no-repeat; /*один фон без повторения*/
    background-position: center center; /*по центру*/
    background-size: cover; /*с сохранением пропорций на весь экран*/
    height: 100vh;
}

/*block header*/
/*header__title*/

.header {
    height: 56px;
    width: 100%;
    background: rgba(0, 0, 0, 0.412);
    overflow: hidden;
}

.header__title {
    float: left;
    display: inline-block;
}

.header__logo-link {
    display: inline-block;
    padding: 18px 18px 18px 80px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.header__logo-link:hover {
    color: #3cb878; /*подсветка текста-логотипа при наведении*/
}

/*header__right-block*/

.header__right-block {
    float: right;
    height: 100%;
}

.header__links-block {
    float: left;
}

.header__link-sprite {
    display: inline-block;
    background-image: url(../img/spritesheet.png); /*спрайт*/
    background-repeat: no-repeat;
    margin: 18px 24px 18px 4px;
}

.header__link-sprite:last-child {
    margin-right: 0; /*правый отступ, последний потомок*/
}

.header__sprite_calendar {
    width: 19px;
    height: 19px;
    background-position: -28px -28px;
}

.header__sprite_calendar:hover {
    width: 19px;
    height: 19px;
    background-position: -80px -5px;
}

.header__sprite_forum {
    width: 28px;
    height: 20px;
    background-position: -132px -28px;
}

.header__sprite_forum:hover {
    width: 28px;
    height: 20px;
    background-position: -193px -5px;
}

.header__sprite_journey {
    width: 20px;
    height: 20px;
    background-position: -254px -28px;
}

.header__sprite_journey:hover {
    width: 20px;
    height: 20px;
    background-position: -307px -5px;
}

.vertical-line { /*вертикальная линия*/
    float: left;
    width: 1px;
    background-color: rgba(51, 51, 51, 0.8);
    height: 20px;
    margin: 19px 25px;
}

.header__link-paragraph {
    float: left;
    padding: 20px 72px 20px 0;
    font-size: 16px;
    letter-spacing: 1.1px;
}

.header__link-text {
    color: #3cb878;
    opacity: 0.7;
}

.header__link-text:hover {
    text-decoration: underline;
    opacity: 1;
}


/*section form*/


.container-form {
    position: absolute;
    top: calc((100% + 56px) / 2); /*за вычетом высоты хэдера*/
    left: 50%;
    transform: translate(-50%, -50%); /*элемент сдвтгается на основе координат*/
    padding: 30px 60px;
    background-color: white;
    color: #434343;
    border-radius: 5px;
}

.form {
    width: 324px;
}

.form__header-title {
    width: 100%;
    float: left;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    opacity: 0.8;
}
.form__header-text{
    display: inline-block;
}

.form__header-title::before { /*зеленый квадрат слева*/
    position: absolute;
    top: 5%;
    left: 0;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.form__header__link {
    float: right;
    font-size: 14px;
    padding-top: 5px;
    color: #3cb878;
    opacity: 0.8;
}

.form__header__link:hover {
    text-decoration: underline;
    opacity: 1;
}

/*form__block-button*/

.form__block-button {
    margin-bottom: 20px; /*до нижнего блока*/
}

.form__button-link {
    display: inline-block;
    width: 158px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 5px 0;
    padding: 10px;
    border: none;
    font-size: 17px;
    line-height: 20px;
}

.form__button-link_bg-blue {
    background-color: #264b96;
    margin-right: 2px;
    opacity: 0.8;
}

.form__button-link_bg-red {
    background-color: #c3412c;
    opacity: 0.8;
}

.form__button-link_bg-blue:hover,
.form__button-link_bg-red:hover {
    opacity: 1;
}

.form__img { /*логотип кнопки*/
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;
    background-image: url("../img/sprite_icon.png");
    background-repeat: no-repeat;
}

.form__img_left { /*логотип-спрайт*/
    width: 10px;
    height: 20px;
    background-position: -109px -28px;
}

.form__img_right { /*логотип-спрайт*/
    width: 25px;
    height: 16px;
    background-position: -28px -28px;
}

.form__text_before-color-blue::before { /*вертикальная линия в кнопке*/
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    margin-right: 20px;
    background-color: #224387;
    vertical-align: middle;
}

.form__text_before-color-red::before { /*вертикальная линия в кнопке*/
    content: '';
    display: inline-block;
    width: 1px;
    height: 26px;
    margin-right: 20px;
    background-color: #af3a28;
    opacity: 1;
    vertical-align: middle;
}

.form__text {
    display: inline-block;
    font-size: 16px;
    color: white;
    vertical-align: middle;
}

/*block form__title -or-*/

.form__title {
    width: 100%;
    overflow: hidden; /* чтобы линии не выходили за ширину блока заголовка */
    margin-bottom: 14px; /*до нижнего блока*/
    text-align: center; /*текст по центру*/
    font-size: 14px;
    font-weight: bold;
    color: #848484;
    opacity: 0.7;
}

.form__title:before,
.form__title:after {
    background-color: #848484;
    content: "";
    display: inline-block; /*линия строчно-блочная*/
    height: 1px; /*высота линии*/
    position: relative; /*позицию линии, для создания отступов от текста*/
    vertical-align: middle; /*линию по центру*/
    width: 100%;
}

.form__title:before {
    right: 18px; /*отступ от текста*/
    margin-left: -100%; /*Смещаем левую линию на 100% влево*/
}

.form__title:after {
    left: 18px; /*отступ от текста*/
    margin-right: -100%; /*Смещаем правую линию на 100% вправо*/
}

/*form__block-input*/

.form__block-input {
    margin-bottom: 18px;
}

.form__input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #848484;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.7;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    outline: none;
    transition: .15s linear; /*равномерный переход*/
    position: relative; /*для поднятия кнопки*/
    top: 0;
    left: 0;
}

.form__input:focus { /*инпут после клика*/
    box-shadow: 0 7px 14px -1px #808080; /*тень инпуту*/
    top: -4px; /*приподымаем кнопку*/
    left: -1px; /*чуть левее*/
    opacity: 1;
}

/*form__checkbox*/

.form__block-checkbox {
    margin-bottom: 22px; /*отступ к нижнему блоку*/
}

.form__checkbox {
    display: none;
    margin-top: 20px; /*прячем стандартный checkbox*/
    font-size: 14px;
    color: #808080;
    opacity: 0.7;
    margin-bottom: 20px;
}

.form__checkbox + label { /*изменяем курсор при наведении*/
    cursor: pointer;
}

.form__checkbox + label:before { /*добавляем псевдоэлемент к label*/
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: solid 1px #eaeaea;
    color: #ebae1c;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
    margin-right: 11px;
    vertical-align: top;
}

.form__checkbox:checked + label:before { /*добавляем галочку при клике на label*/
    content: "✓";
    color: #3cb878;
}

.form__checkbox-link {
    color: #3cb878;
    opacity: 0.8;
    cursor: pointer;

}

.form__checkbox-link:hover {
    text-decoration: underline;
    opacity: 1;
}

/*form__input-submit*/

.form__input-submit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.8;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #3cb878;
    outline: none;
    cursor: pointer;
}

.form__input-submit:hover {
    opacity: 1.0;
}

.clearfix { /*блок с очисткой флоат*/
    clear: both;
}