/****************'Montserrat'**********************/
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Light.eot');
  src: local('../fonts/Montserrat/Montserrat Light'), local('Montserrat-Light'),
  url('../fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-MediumItalic.eot');
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
  url('../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Thin.eot');
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
  url('../fonts/Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.eot');
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
  url('../fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-BoldItalic.eot');
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
  url('../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.eot');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraLight.eot');
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
  url('../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot');
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
  url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Italic.eot');
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
  url('../fonts/Montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-LightItalic.eot');
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
  url('../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-LightItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-BlackItalic.eot');
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
  url('../fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot');
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
  url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Medium.eot');
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot');
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
  url('../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Black.eot');
  src: local('Montserrat Black'), local('Montserrat-Black'),
  url('../fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-Black.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ThinItalic.eot');
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
  url('../fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
/*************************Lato***************************************/

@font-face {
  font-family: 'Lato Hairline';
  src: url('../fonts/Lato/Lato-Hairline.eot');
  src: local('Lato Hairline'), local('Lato-Hairline'),
  url('../fonts/Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Hairline.woff') format('woff'),
  url('../fonts/Lato/Lato-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Heavy.eot');
  src: local('Lato Heavy'), local('Lato-Heavy'),
  url('../fonts/Lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Heavy.woff') format('woff'),
  url('../fonts/Lato/Lato-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-HeavyItalic.eot');
  src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'),
  url('../fonts/Lato/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-HeavyItalic.woff') format('woff'),
  url('../fonts/Lato/Lato-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
  url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Black.eot');
  src: local('Lato Black'), local('Lato-Black'),
  url('../fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Black.woff') format('woff'),
  url('../fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-SemiboldItalic.eot');
  src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'),
  url('../fonts/Lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-SemiboldItalic.woff') format('woff'),
  url('../fonts/Lato/Lato-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-BlackItalic.eot');
  src: local('Lato Black Italic'), local('Lato-BlackItalic'),
  url('../fonts/Lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-BlackItalic.woff') format('woff'),
  url('../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('../fonts/Lato/Lato-HairlineItalic.eot');
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'),
  url('../fonts/Lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-HairlineItalic.woff') format('woff'),
  url('../fonts/Lato/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-MediumItalic.eot');
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
  url('../fonts/Lato/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-MediumItalic.woff') format('woff'),
  url('../fonts/Lato/Lato-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-ThinItalic.eot');
  src: local('Lato Thin Italic'), local('Lato-ThinItalic'),
  url('../fonts/Lato/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-ThinItalic.woff') format('woff'),
  url('../fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Thin.eot');
  src: local('Lato Thin'), local('Lato-Thin'),
  url('../fonts/Lato/Lato-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Thin.woff') format('woff'),
  url('../fonts/Lato/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Medium.eot');
  src: local('Lato Medium'), local('Lato-Medium'),
  url('../fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Medium.woff') format('woff'),
  url('../fonts/Lato/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Italic.eot');
  src: local('Lato Italic'), local('Lato-Italic'),
  url('../fonts/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Italic.woff') format('woff'),
  url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Semibold.eot');
  src: local('Lato Semibold'), local('Lato-Semibold'),
  url('../fonts/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Semibold.woff') format('woff'),
  url('../fonts/Lato/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
  url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-BoldItalic.eot');
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
  url('../fonts/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-BoldItalic.woff') format('woff'),
  url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-LightItalic.eot');
  src: local('Lato Light Italic'), local('Lato-LightItalic'),
  url('../fonts/Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-LightItalic.woff') format('woff'),
  url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Light.eot');
  src: local('Lato Light'), local('Lato-Light'),
  url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/Lato-Light.woff') format('woff'),
  url('../fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/*************************font-awesome***********************/



