@import "fontello-embedded.css";
@import url(fonts.css); /*подключение файла со шрифтом*/


body {
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.container {
    height: 100vh;
    width: 100%;
}

/*block table*/

table {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #6D6D6D;
    border-width: 24px 22px;
    border-style: solid;
    border-color: #3a4965;
}

tr {
    background-color: #f2f2f2;
}

tr:nth-child(2n) { /*каждый второй ряд*/
    background-color: #e3e3e3;
}

td {
    padding: 25px 0;
    vertical-align: middle;
    border-right: 3px solid rgba(125, 124, 125, 0.2);
}

td:last-child {
    border-right: none; /*отмена правого бордера у рядов*/
}

/*block thead*/

th {
    font-size: 24px;
    color: #484848;
    background-color: #f2f2f2;
    vertical-align: middle;
    line-height: 1.2;
}

tr:nth-child(2) th {
    border-right: 3px solid rgba(125, 124, 125, 0.2);
}

tr:nth-child(2) th:first-child {
    border-left: 3px solid rgba(125, 124, 125, 0.2);
}

tr:first-child th:first-child {/*отмена заливки первой ячейки заголовка*/
    background-color: #fefefe;
}

tr:last-child th {
    background-color: #fefefe;/*отмена заливки каждого второго ряда для заголовка*/
    padding: 6px 0;
}

th.title-row-cell p:first-child {
    font-size: 19px;
}

th.title-row-cell p:last-child {
    font-size: 33px;
}

tr:first-child th:nth-child(2) {
    background-color: #89c331;
    padding: 22px 0;
    color: white;
}

tr:first-child th:nth-child(3) {
    background-color: #f04a56;
    font-size: 30px;
    color: white;
}

tr:first-child th:nth-child(4) {
    background-color: #20807c;
    color: white;
}

/*thead второй ряд*/

tr:nth-child(2) th {
    font-size: 60px;
}

.value-price__degree {
    vertical-align: super;
    font-size: 29px;
    margin-left: -13px;
}
.value-price__date{
    font-size: 17px;
    font-weight: 600;
    color: #6D6D6D;
    margin-left: -57px;
}

/*fontello icons*/

.icon {
    font-size: 24px;
    color: #848484;
    padding-right: 8px;
    vertical-align: inherit;
}

/*block tfoot*/

tfoot tr td {
    box-sizing: border-box;
    background-color: #f2f2f2;
}

tfoot tr td:first-child {
    background-color: #dddddd;
}

tfoot tr td:nth-child(2n) {
    background-color: #eeeeee;
}

.foot-btn__link {
    display: inline-block;
    margin: 8px 20px;
    padding: 16px 64px;
    min-width: 217px;
    vertical-align: middle;
    border-radius: 6px;
    color: #fefefe;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    transition: all 500ms linear;
}

.foot-btn__link_color-black {
    background-color: #484848;
    padding:16px 54px;
    min-width: 220px;
    box-shadow: 0 8px 0 #404040;
}

.foot-btn__link_color-lime {
    background-color: #89c331;
    box-shadow: 0 8px 0 #79b027;
}

.foot-btn__link_color-red {
    background-color: #f04a56;
    box-shadow: 0 8px 0 #df3a46;
}

.foot-btn__link_color-green {
    background-color: #20807c;
    box-shadow: 0 8px 0 #16736f;
}

.foot-btn__link:hover {
    background: rgba(0, 0, 0, 0);
    color: #848484;
    box-shadow: 0 7px 14px -1px #808080; /*тень инпуту*/
    opacity: 1;
}

