.card{
    margin: 10px 5px;
    padding: 12px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 5px;
}
.btn-character-list{
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 10px;
}
.btn-character-list:hover{
    background-color: black;
    color: white;
}