body {
    background-color: #4BBF6B;
}

.wrapper {
    font-family: sans-serif;
    font-size: 18px;
    display: flex;
    align-items: start;

}

.task-column {
    display: inline-block;
    width: 300px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #EBECF0;
}

.task-column__block-title {
    display: flex;
    justify-content: space-between;
    padding: 6px 5px;
    box-sizing: border-box;
    word-wrap: break-word;
    border: 2px solid transparent;
    cursor: pointer;
}

.task-column__title {
    width: 200px;
    color: rgb(23, 43, 77);
    font-size: 16px;
    font-weight: 700;
    background-color: #EBECF0;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.task-column__title:focus {
    border: 2px solid #0079BF;
    cursor: text;
}

.task-column__title:hover {
    color: #0079BF;
}

.task-column__list {
    list-style: none;
    padding: 0;
    margin: 0 5px;
}


.task-card__message {
    width: 100%;
    border: none;
    outline: none;
    padding: 6px 5px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.task-card {
    min-height: 15px;
    padding: 6px 5px;
    margin: 10px 0;
    background-color: white;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    word-wrap: break-word;
    border-radius: 5px;
    color: #0079BF;
    cursor: pointer;
}

.task-card__message {
    font-size: 14px;
    font-family: sans-serif;
    resize: none;
    overflow: hidden;
    color: #5e6c84;
}

.task-card__add-btn {
    border: 1px solid #76CE8E;
    background-color: #76CE8E;
    border-radius: 4px;
    color: white;
    outline: none;
    margin-left: 5px;
    cursor: pointer;
}

.task-column__add-btn, .task-card__ok-btn {
    padding: 10px 10px 10px 5px;
    margin-left: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #5e6c84;
    background-color: #EBECF0;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}

.task-column__add-btn, .task-card__ok-btn, .new-column {
    border: 1px solid transparent;
    outline: none;
}

.task-column__sort-btn {
    border: 1px solid #76CE8E;
    background-color: #76CE8E;
    border-radius: 4px;
    color: white;
    outline: none;
    margin-left: 5px;
    cursor: pointer;
}

.new-column {
    margin: 5px;
    background-color: #76CE8E;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    padding: 12px 20px 12px 8px;
    cursor: pointer;
}

.new-column:hover,
.task-column__sort-btn:hover {
    background-color: rgba(118, 204, 141, 0.7);
    color: white;
}

.task-column__add-btn:hover {
    background-color: #C8C8C8;
}

.close-btn {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #0079BF;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}
