.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user{
    margin: 10px 5px;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: bisque;
    flex-basis: 18%;
}
.btn-show-ships{
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 10px;
}
.btn-show-ships:hover{
    background-color: black;
    color: white;
}
.shipsTitle{
    margin-bottom: 8px;
}