img {
  width: 284px;
  height: 206px;
}

.forward {
  animation: move .3s;
}

.back {
  animation: move-back .3s;
}

.main-img {
  position: relative;
  right: 284px;
  width: 284px;
  height: 206px;
  display: flex;
}

.slider {
  width: 284px;
  height:206px;
  margin: 50px auto;
}

.slider-window {
  width: 284px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: rgb(182, 226, 189);
  border-radius: 5px;
  outline: none;
}

.buttons {
  display: flex;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

@keyframes move {
  0% {
    right: 0;
  }
  100% {
    right: 284px;
  }
}

@keyframes move-back {
  0% {
    right: 568px;
  }
  100% {
    right: 284px;
  }
}