@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-Regular.ttf");
}

body {
    font-family: "Myriad Pro", serif;
    font-weight: normal;
    font-style: normal;
}

.page-wrap {
    padding: 0 90px; /*боковые поля для обетрки сайта*/
}

/*Block header logo*/

.header {
    font-size: 80px;
    font-family: "Myriad Pro", serif;
}

.site-logo {
    display: inline-block;
    padding: 50px 0;
}

.site-logo__link {
    text-decoration: none;
    color: black;
}

.site-logo__link_color {
    color: #4bcaff;
}

.site-logo__link:hover,
.site-logo__link_color:hover {
    color: #E85F4C; /* при наведении курсора мышки */
}

.site-logo__link:active,
.site-logo__link_color:active {
    color: #980F00; /* при нажатии */
}

/*Block nav*/

.nav__list {
    background-color: #35444f;
    text-align: center;
    font-size: 0; /*родителю ноль, чтобы убрать margin между inline-block блоками*/
}

.nav__item {
    display: inline-block;
    padding: 22px 36px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid transparent; /*выдиляем место под бордер при наведении*/
}

.nav__item_active {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.nav__item:hover {
    background-color: #4bcaff; /* при наведении курсора мышки */
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.nav__link {
    color: white;
}

/*main*/
.wrap-content {
    margin-top: 50px;
}

/*aside*/

.nav-questions {
    display: inline-block;
    width: 27%;
    margin-right: 28px;
    vertical-align: top;/*выравнивание блока по вертикале*/
}

.nav-questions__list {
    font-size: 29px;
    text-align: left;
    border: 1px solid #495863;
}

.nav-questions__item {
    padding: 25px 30px;
    cursor: pointer;
}

.nav-questions__item_active {
    padding-left: 60px;
    background-color: #dbdbdb;
}

.nav-questions__item:hover {
    background-color: #4bcaff;
}

.nav-questions__link {
    color: #495863; /*цвет текста ссылок*/
}

.nav-questions__link_active {
    color: black; /*цвет текста активной ссылки*/
}

/*article*/

.block-content {
    display: inline-block;
    width: 70%;
    vertical-align: top; /*выравнивание блока по вертикале*/
}

.block-content__wrap-img {
    text-align: center;
    border: 1px solid #35444f;
    cursor: pointer;
}

.block-content__img {
    display: inline-block;
    width: 320px;
    height: 381px;
    margin: 73px 0; /*отступы от картинки вверх-низ*/
    transition: all 1s linear; /*Анимация одинаковая скорость от начала и до конца*/
}

.block-content__wrap-img:hover .block-content__img { /*при наведении курсора на блок применить к картинке*/
    transform: scale(1.2); /*увеличение картинки при наведении*/
}

.block-content__text {
    margin: 50px 0; /*отступы вверх-низ от соседних блоков*/
    padding: 0 30px; /*поля текста лево-право*/
    font-size: 18px;
    font-weight: 500;
    text-align: justify; /*Выравнивание текста по ширине*/
    line-height: 1.3;
}

/*footer*/
.page-footer__section {
    background-color: #b4b7ba;
    margin-bottom: 50px;
    padding: 0 30px;
}

.page-footer__nav-list {
    font-size: 22px;
    font-weight: 500;
    color: #0C1927;
    overflow: hidden; /*задаем родителю елемента с флоат, чтобы он его увидел*/
}

.page-footer__nav-item {
    display: inline-block;
    padding: 24px 22px;
    border: 1px solid transparent; /*выделяем место под бордер при наведении*/
    cursor: pointer;
}

.page-footer__nav-item:hover {
    background-color: #4bcaff;
}

.page-footer__nav-link {
    color: black;
}

.page-footer__nav-link_active {
    color: #3181a6;
    text-decoration: underline; /*подчеркивание активной ссылки*/
}

.page-footer__nav-copyright {
    float: right; /*прижимаем текст копирайта к правому краю блока с меню*/
    margin-top: 25px; /*выравниваем по середине*/
    font-size: 20px;
    font-weight: 500;
}

.clearfix {
    clear: both;
}


