@import url(fonts.css); /*подключение файла со фрифтом*/


body {
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
}

.wrapper {
    padding: 50px 150px 0; /*отступы контейнера*/
    background-image: url("../img/background.png");
    background-repeat: no-repeat; /*один фон без повторения*/
    background-position: center center; /*по центру*/
    background-size: cover; /*с сохранением пропорций*/
}

/*block header*/

.header-logo {
    width: 100%; /*для обнаружения родителя блоками с float*/
    float: left; /* элемент по левому краю*/
    font-weight: bold;
    margin-bottom: 30px; /*отступ от нижнего блока*/
}

.header-logo__link {
    float: left;
    display: block;
    background-image: url("../img/spritesheet.png"); /*логотип - спрайт*/
    background-repeat: no-repeat;
    width: 46px;/*ширина картинки*/
    height: 44px;/*высота картинки*/
    background-position: -61px -5px;/*позиция картинки в спрайте*/
}

.header-logo__text {
    padding-left: 55px; /*отступ от картинки*/
    font-size: 29px;
    letter-spacing: 1.3px;
    color: white;
}

.header-logo__text_second-line {
    display: block; /*для переноса span на вторую строку*/
    font-size: 18px;
}

.header-logo__title:hover .header-logo__link {/*спрайт при ховере*/
    background-position: -5px -5px; /*меняем рисунок - эффект подсветки*/
}

.header-logo__title:hover .header-logo__text {
    color: #f26522; /*подсветка текста*/
}

.header-logo__contacts {
    float: right; /* элемент по правому краю*/
    font-size: 18px;
    text-align: right;
    line-height: 1.2;
    letter-spacing: 1.1px;
}

.header-logo__contacts_second-line {
    display: block; /*для переноса span на вторую строку*/
}


/*block article*/

.block-photo {
    overflow: hidden;
    width: 100%; /*для обнаружения родителя блоками с float*/
    text-align: center; /*средний инлайн-блок с фото по центру между флоатами */
}

.block-photo__item {
    float: left;
    position: relative;
    width: 27%;
    margin: 20px 0;
    margin-right: 9.5%;
}

.block-photo__item_margin-right-zero { /* элемент по правому краю*/
    margin-right: 0;/*убираем отступ у третьего элемента*/
}

.block-photo__link-visible {
    position: absolute; /*Положение элемента устанавливается относительно его исходного места*/
    width: 100%;
    height: 0; /*нулевая высота до наведения*/
    bottom: 32px; /*позиционирование относительно родителя(картинки)*/
    overflow: hidden; /*Отображаем  область внутри элемента*/
    background-color: #f26522; /*цвет заливки фона*/
    color: white; /*цвет теста ссылки*/
    transition: all 1s ease-in; /*плавно начинается быстро заканчивается*/
}

.block-photo__link:hover .block-photo__link-visible {
    height: 50px; /*появление блока снизу при наведении - анимация*/
}

.block-photo__link:hover .block-photo__name {
    color: #F26522; /*цвет текста ссылки при наведении*/
}

.block-photo__text-visible-left {
    float: left; /* элемент по левому краю*/
    margin: 10px 0 0 18px; /*позиционируем элемент относительно родителя*/
    font-size: 10px;
    text-align: left;
}

.block-photo__text-visible-left_size {
    display: block;
    font-size: 19px;
}

.block-photo__text-visible-right {
    float: right; /* элемент по правому краю*/
    margin: 23px 14px 0 0; /*позиционируем элемент относительно родителя*/
    font-size: 14px;
}

.block-photo__text-visible-right::after {
    content: " \00A0\00A0\00A0\003E"; /*добавляем стрелку > с пробелами после элемента*/
}

.block-photo__img {
    display: inline-block; /*для задания высоты и ширины элемента*/
    width: 100%; /*для адаптивности картинки при изменении размеров*/
    height: auto; /*для адаптивности картинки при изменении размеров*/
    box-sizing: border-box; /*width/height - включая поля и рамки*/
    border: solid transparent; /*под свойство border-image */
    border-width: 3px 3px 0 3px; /*без нижней рамки*/
    border-image: linear-gradient(to bottom, lightgrey 0%, #090E0A 100%); /*градиент сверху вниз*/
    border-image-slice: 1; /*используется для деления изображения  девять частей: 4 угла, 4 крае и середина.*/
}

.block-photo__name { /*названия картинок*/
    font-size: 18px;
    padding-top: 13px;
    white-space: nowrap; /*запрещаем перенос строки*/
    color: white;
}

/*block footer*/

.page-footer {
    text-align: center; /*выравнивание по центру инлайнового блока*/
}

.page-footer__copyright {
    display: inline-block; /*для центровки в родителе*/
    padding: 50px 0;
    margin-bottom: 20px;
    font-size: 12px;
}

/*class clearfix*/

.clearfix { /*блок с очисткой флоат*/
    clear: both;
}