.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.film-card{
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: bisque;
    flex-basis: 17%;
}